/* Common Styles */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Vollkorn', serif;
    font-family: 'Work Sans', sans-serif;
}
.similar-button{
    display: inline-flex;
    padding: 16px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}
.similar-button:hover{
    background-color: rgba(229, 84, 115,0.9);
    cursor: pointer;
}
/* Common style end */

/* nav section styles start */

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111010;
    color: white;
    padding: 10px 150px;
}
.nav-title{
    font-size: 50px;
}
.nav-option{
    display: flex;
    align-items: center;
    
}
.nav-option li{
    margin-right: 40px;
    list-style: none;
    font-size: 24px;
}
.nav-option li:hover{
    color: #E55473;
    cursor: pointer;
}
/* nav section end */
.header-section{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: end;
    padding: 0px 100px 0px 150px ;
    
}
.header-description{
    padding: 130px 97px 120px 0px;
}
.header-title{
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.header-details{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;

}
.header-image img{
    width: 470px;
    height: 640px;
    margin-bottom: -4px;

}

/* header style end */
/* featured flower section start */
.featured-flowers-section{
    margin: 100px 150px 100px 150px;
    text-align: center;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}
.featured-image{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: end;
    gap: 10px;
}

.image-1 img{
   width: 230px; 
  height: 330px;  
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  padding: 90px 60px 0px 60px;
}
.image-2 img{
   width: 350px; 
  height: 352px;  
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 60px 0px 10px 10px;
}
.image-3 img{
   width: 230px; 
  height: 372px;  
  border-radius: 300px 300px 0px 0px;
  padding: 50px 60px 0px 60px;
  background: rgba(71, 125, 17, 0.15);

}
.image-title{
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 15px;
}
/* featured flower section end */
/* delivery section start */
.delivery-section{
    margin: 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 60px 150px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 100px;
}
.details{
    margin-top: 20px;
}
/* delivery section end */
/* sign up section start */
.signup-section{
    display: flex;
    align-items: center;
    padding: 80px 250px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.signup-details{
    text-align: center;
}
.signup-image img{
    width: 258px;
    height: 320px;
    padding-left: 160px;
}
.signup-title{
    margin-bottom: 0px;
}
.signup-description{
    margin-top: 10px;
    margin-bottom: 15px;
}
/* sign up section end */
/* instagram section start */
.instagram-section{
    margin: 100px 150px;
    text-align: center;
}
.insta-photo img{
    width: 268px;
    height: 310px;
}
.insta-photo{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
/* instagram section end */
/* subscribe section start */
.subscribe-section{
    text-align: center;
    background-image: url("../images/Rectangle9.png");
    background-size: cover;
    border-radius: 8px;
    background-repeat: no-repeat;
    margin: 100px 150px;
    padding: 100px 200px;
}
.subscribe-input{
    width: 500px;
    height: 47px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 2px 30px;
    margin-right: 7px;
}
.subscribe-description{
    margin-top: 10px;
    margin-bottom: 50px;
}

/* subscribe section start */

/* footer section start */
.footer-section{
    background: #111010;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 120px 150px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.credit-section{
    color: rgba(255, 255, 255, 0.40);

}